<footer>

    <div class="f-info">
    <div class="f-info-socials" >
<a href="https://www.instagram.com/makemytrip/?hl=en"><i class="fa-brands fa-square-instagram"></i></a>
<a href="https://www.facebook.com/makemytrip/"><i class="fa-brands fa-facebook"></i></a>
<a href="https://x.com/makemytrip?lang=en"><i class="fa-brands fa-twitter"></i></a>

    </div>
    <div>&copy;Roomora Private Limited</div>
    <div class="f-info-links"><a href="https://policies.google.com/privacy?hl=en-US">Privacy </a><a href="https://policies.google.com/terms?hl=en-US">Term </a></div></div>
</footer>