<% layout('/layouts/boilerplate') -%>

<div class="container mt-5">
    <div class="alert alert-danger text-center">
        <h4>Oops! Something went wrong.</h4>
        <p><%= err.message || "Unexpected error occurred. Please try again later." %></p>
    </div>
</div>
